<div class="grid-container" style="margin: 40px 15px 0px 15px">
  <div class="left-div">
    <span>Gender</span>
    <div style="display: flex; align-content: center;">
      <button (click)='onHumanButton()'>
        <img src="assets/male.png" alt="Male gender" />
      </button>
      <button (click)='onElfButton()'>
        <img src="assets/female.png" alt="Female gender" />
      </button>
      <button (click)='onGnomeButton()'>
        GNOME HEHE
      </button>
    </div>

  </div>
  <div class="right-div">
    <p *ngIf="playerService.Player.race === 'Default'">The race of your character will determine what their base abilities can be, as well as assign
      possible intrinsic talents such as infravision. Some restrictions in class selection may also apply, because game balance dictates
      that certain races are unsuite for certain professions.
    </p>
    <p *ngIf="playerService.Player.race === 'Human'">HUMANS: Humans are the predominant race in Faerûn. Humans rule most of the significant empires and kingdoms in the Forgotten Realms.
      They are the most social and tolerant of races, excepting perhaps the halflings.
      The only special abilitiy that humans possess is that they may advance as any class.
      Humans are also the only race that can dual-clas. Humans may not multi-class.
    </p>
    <div *ngIf="playerService.Player.race === 'Elf'"> <p>ELVES: Elves tend to be shorter and slimmer than humans.
      Their features are finely chiseled and delicate, and they speak in melodic tones.
      Elves are looked upon as being frivolous and aloof.  They concern themselves with natural beauty, dancing, frolicking, and other similar pursuits.
      Their humor is clever as are their songs and poetry.
      There are six racial divisions of elves within the Realms: gold elves, moon elves, wild elves, sea elves, dark elves(drow), and winged elves (avariel).
      </p>
      <br>
    <p>Elves have the following traits:</p>
    <br>
    <p>- 90% resistance against charm and sleep magics.</p>
    <br>
    <p>- Infravision</p>
    <br>
    <p>- +1 THAC0 bonus with bows and long swords.</p>
    <br>
    <p>- +1 Dexterity, -1 Cons</p>
    </div>

  </div>
</div>

